body {
    margin: 0px;
    padding: 0px;
}

section {
    background-color: #d4d9ec4f;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;  
}


h1 {
    color: #1877f2;
    font-size: 60px;
    height: 71px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 103px;
    top: -18px;
}

h1:active {
    color: blue;
}

#p1 {
    font-size: 28px;
    text-transform:initial;
    text-indent:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    position: relative;
    top: -61px;
    left: 100px;
    line-height: 32px;  
}
    
div form {
    background-color: white;
    width: 370px;
    height: 350px;
    text-align:center; 
    padding: 20px;
    box-sizing:border-box;
    position: relative;
    left: 219px;
    border:solid white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);  
}

input {
    width: 325px;
    height: 50px;
    padding: 14px 16px;
    box-sizing: border-box;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    margin-top: -3%;
    position: relative;
    top: 5px;
}

input::placeholder {
    color: #c2c4c9;
    font-family: inherit;
    font-size: 17px;
}

input:focus {
    border: solid #1877f2;  
    outline: #1877f2;
}

#btn1 {
    background-color: #1877f2;
    border: rgb(41, 41, 173);
    color: white;
    width: 325px;
    height: 50px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
}

#btn1:hover {
    cursor: pointer;
}

#a1 {
    text-decoration: none;
	color: white;
}

#a2 {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500px;
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif; 
}

#a2:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #dadde1 ;
    margin-bottom : 30px;
    display: flex;
    margin-top: 5px;
}

#btn2 {
    background-color: #42b72a;
    border-color: #42b72a;
    color: white;
    width: 200px;
    height: 50px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight:bold;
    border: none;
    position: relative;
    bottom: 2%;
}

#btn2:hover {
    background-color: rgb(43, 158, 43);
    border: rgb(123, 231, 123) solid 1px;
}

#a3 {
    text-decoration: none;
	color: white;
}

#p2 {
    position: relative;
    top: 210px;
    right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#a4 {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  
}
#a4:hover {
    text-decoration: underline;    
}
