body {
    margin: 0px;
    outline: 0px;
}

section { 
    background-color: #d4d9ec4f;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;  
    overflow: hidden;
}

div form {
    background-color: white;
    width: 470px;
    height: 594px;
    text-align:center; 
    padding: 20px;
    position: relative;
    bottom: 3px;
    box-sizing:border-box;
    border:solid white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);  
    overflow: hidden; 

}

span {
    color: #636a74; 
    position: relative;
    font-size: x-large;
    bottom: 16px;
    left: 50%;
 }

h1 {
    color: #1c1e21;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; 
    right: 74%;
    padding-left: 71%;
    bottom: 70px;
}

h4 {
    color: #898e95;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; 
    right: 72%;
    padding-left: 70%;
    bottom: 129px;
    font-weight: normal;
}

#hr {
    border: 1px solid #dadde1;
    position: relative;
    bottom: 133px;
    width: 470px;
    right: 24px; 
    margin-bottom : 30px;
}

input {
    width: 443px;
    height: 50px;
    padding: 14px 16px;
    box-sizing: border-box;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    background-color: #f5f6f7;
    position: relative;
    right: 2%
}

input::placeholder {
    
    color: #c2c4c9;
    font-family: inherit;
    font-size: 17px;
}

input:focus {
    outline: none ; 
}

input:focus::placeholder {
    color: #dddfe2;
}

#db{
    position: relative;
    bottom: 26%;
    right: 76%;
    padding-left: 300px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;   
    color: #9da2a7;
}

table tr input[type="text"] {
    width: 219px;
    position: relative;
    right: 11px;
    bottom: 150px;
    background-color: #f5f6f7;
}

input[type="password"] {
    bottom: 26%;
}

input[type="text"] {
    bottom: 25%;
}

select {
    width: 140px;
    position: relative;
    right: 11px;
    border-radius: 4px;
    height: 36px;
    bottom: 145px;
    border: 1px solid #dddfe2;
    margin-right: 8px;
    outline: none;
}

#gender {
    position: relative;
    bottom: 24%;
    right: 86%;
    padding-left: 353px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;   
    color: #9da2a7;
}
.gender-select {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 131px;
    right:8px;
    margin-right: -29px;

}

.radio-box {
    display: flex;
    margin-right: 11px;
    align-items: center;
    padding: 5px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    width: 134px;
    height: 26px;
}

.radio-box label {
    margin-left: -8px;
}

.radio-box input[type="radio"] {
    display: inline-block;
    width: auto;
    margin: 0;
    position: relative;
    left: 111px;
}

.radio-box input[type="radio"]:checked + label:before {
    background-color: #007bff;
}
  
#p1 {
    font-size: 12px;
    position: relative;
    top: -133px;
    left: -19px;
    line-height: 129%;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
}

#p2 {
    font-size: 12px;
    position: relative;
    top: -144px;
    left: -4px;
    line-height: 129%;
    display: inline-block;
    text-align: left;
    margin-left: -5px;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#btn1 {
    background-color: #00a400;  
    border-color: #00a400;
    color: white;
    width: 184px;
    height: 37px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight:bold;
    border: none;
    position: relative;
    bottom: 24%;
}
 
#btn1:hover {
    background-color: #67ae55;
    border: #67ae55 solid 1px;
}

#a2 {
    text-decoration: none;
	color: white;
}